CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
DartConfiguration.tcl

**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/CTestTestfile.cmake
**/Makefile

/bin/linux/*
/build/*
/lib/*

/Testing/
/nbproject/